{% extends "base.html" %}
{% block content %}

<div id="mainbody">
	<div class="result">
		<div class="graph">
		{{ bar_chart.render()|safe }}
	</div>
		<div class="progress">
			<h1>Hiiiiiii progress</h1>
			</div>

		</div>
	<div class="movie">
  <form action="" method="post" name="search">
      {{ form.hidden_tag() }}
      <p>
          Please enter your Movie: <br>
          {{ form.movie(size=40) }}<input type="submit" value="Do analysis"></p>

  </form>
		</div>
	</div>
	{% endblock %}


